@{
    string action = (string)ViewBag.Action;
    string formAction = Url.Action(action);
    int id = ViewBag.Id ?? 0;
    string url = Url.Action("Get", new { id = id });
}
<div title="仓库信息">
    <form id="form1" method="post" action="@formAction">
    @Html.ValidationSummary(true)
    </form>
</div>
<div class="form-bar">
    <input id="btnsubmit" type="button" class="button" name="submit" value="提交" />
</div>
@section footer{
    @Scripts.Render("~/bundles/ligerui-form")
    <script type="text/javascript">
        var fields = [
            { display: "仓库名", name: "Names", newline: false, labelWidth: 100, width: 220, space: 30, type: "text", group: "仓库信息",
                validate: { required: true, maxlength: 50 }
            }
            , { display: "简称", name: "Shortname", newline: false, labelWidth: 100, width: 220, space: 30, type: "text",
                validate: { required: true, maxlength: 20 }
            }
            , { display: "助记码", name: "MnCode", newline: true, labelWidth: 100, width: 220, space: 30, type: "text",
                validate: { maxlength: 50 }
            }
            , { display: "地址", name: "Address", newline: false, labelWidth: 100, width: 220, space: 30, type: "text",
                validate: { maxlength: 50 }
            }
            , { display: "电话", name: "Phones", newline: true, labelWidth: 100, width: 220, space: 30, type: "text",
                validate: { maxlength: 50 }
            }
            , { display: "传真", name: "Faxs", newline: false, labelWidth: 100, width: 220, space: 30, type: "text",
                validate: { maxlength: 50 }
            }
            , { display: "仓库总面积", name: "Totalarea", newline: true, labelWidth: 100, width: 220, space: 30, type: "text",
                validate: { maxlength: 50 }
            }
            , { display: "室内", name: "Indoorarea", newline: false, labelWidth: 100, width: 220, space: 30, type: "text",
                validate: { maxlength: 50 }
            }
            , { display: "室外", name: "Outdoorarea", newline: true, labelWidth: 100, width: 220, space: 30, type: "text",
                validate: { maxlength: 50 }
            }
            , { display: '负责人', name: 'Principals', newline: false, labelWidth: 100, width: 220, space: 30, type: "text",
                validate: { maxlength: 400 }
            }
            , { display: '手机', name: 'Mobiles', newline: true, labelWidth: 100, width: 220, space: 30, type: "text",
                validate: { required: true, maxlength: 11 }
            }
            , { display: '状态', name: 'Status', newline: false, labelWidth: 100, width: 220, space: 30, type: "text",
                validate: { required: true, maxlength: 1 }
            }
        ];
        $(function () {
            var form = $("#form1");
            form.ligerForm({ inputWidth: 280, fields: fields });
            var action = '@action';
            if (action != "Create") {
                LG.loadForm(form, { url: '@url' });
            }
            if (action == 'Update' || action == 'Create') {
                LG.setFormStatus(form, true, parent);
            } else {
                LG.setFormStatus(form, false);
            }
        });
    </script>
}
